<%- include("header.ejs") %>
<%- include("navbar.ejs") %>
<%- include('../partials/toast_notification.ejs') %>
<%- include('../partials/delete_confirm_modal.ejs') %>
<div class="content">
  <%- body %>
</div>

<%- include("footer.ejs") %>